* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
i {
  cursor: pointer;
}
img {
  cursor: pointer;
}
body {
  background-color: black;
  scroll-behavior: smooth;
}
.container {
  background-color: rgb(17, 17, 17);
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-size: 100% 700px;
  background-repeat: no-repeat;
}
